@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body {
    background-color: rgb(236, 234, 234);
}

.dark body {
    background-color: rgb(31 41 55);
}

nav ul li .active {
    background-color: rgb(50, 83, 1) !important;
    color: white;
}





.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
    min-height: 20px;
    /* 👈 controls the thumb height */
}